/*selector universal*/

*{
    margin: 0;
    padding: 0;
 
 }
 /*Selector de Etiqueta*/
 
 body{
    background-color: rgb(231, 206, 235);
    color:black;
 
 }
 /*Selector Id*/
 #contenedor{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 167, 167);
    margin: 10px;
    padding: 20px;
 }
 
 #menu{
    height: 1%;
    background-color: rgb(243, 180, 215);
    margin: 1em;
    border-radius: 5px;
 }
 #encabezado{
    width: 85%;
    background-color: rgb(239, 160, 209);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
 }
 /*Selector de etiqueta*/
 ul{
    text-align: center;
    padding: 10px;
 
 }
 li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
 }
 li a:hover{
    color: rgb(233, 170, 182);
    font-size: 20px;
    text-decoration: none;
    list-style: none;   
 }
 /*Selector de clase*/
 .img{
    width: 11px;
    border-radius: 15px;
    justify-items: center;
 
   
  }
  .pie{
 
   height: 20px;
   background-color: rgb(255, 113, 156);
   margin: 1.5em;
   text-align: center;
   padding: 5px;
   border-radius: 5px;}
   
   .pie h4{
     padding: 15px;
     font-size: 20px;
     background-color: rgba(189, 76, 133, 0.973);
 }
 
 .texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(0, 0, 0);
 }
  /*card*/
 
  .card{
    
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 300px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    margin: 25px;
  }
  .card:hover{
 
    max-width: 310px;
  }
 
  .card img{
 
    background-color: rgb(158, 145, 228);
  }
  .title{
 
    color: chocolate;
    font-size: 10px;
  }
  button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
  .linea {
    width: 80%;
    height: 1px;
    background-color: #000; 
    margin: 20px auto;
 }
 html{
    scroll-behavior: smooth;
 }
 
 .contenedorflex{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 30%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
 
 }
 @media screen and (max-width:500px) {
   body{
       background-color: rgb(49, 231, 25);
       color: rgb(16, 17, 14);
   }
   .titulo{
       font-size: 25px;
   }
   .img{
       width: 25%;
   }
 }
 
 @media screen and (max-width:300) {
   body{
       background-color: crimson;
       color: blue;
   }
   .titulo{
       font-size:20px;
   }
   .img{
       width: 60%;
   }
 }
 @media screen and (max-width:200){
   body{
       background-color: rgb(39, 46, 139);
       color: rgb(134, 18, 250);
   }
   .titulo{
       font-size: 15px;
   }
   .img{
       width: 50%;
   }
 }
 /*Selector Id*/
 
 #encabezado{
   width: 85%;
   margin: 1em;
   border-radius: 5px;
   text-align: center;
 }
 #menu{
   height: 3%;
   margin: 1em;
   border-radius: 5px;
 }
 /*Selector de etiqueta*/
 ul{
   text-align: center;
   padding: 10px;
 
 }
 li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
 }
 li a:hover{
   color: rgb(149, 224, 134);
   font-size: 20px;
   text-decoration: none;
   list-style: none;   
 }
 /*Selector de clase*/
 .img{
   width: 30%;
   border-radius: 30px;
   justify-items: center;
 }
 .texto{
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: rgb(0, 0, 0);
 }
 /*card*/
 
 .card{
   
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: 10px;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
   height: 350px;
   width: 250px;
   justify-content: space-between;
 }
 
 
 .title{
 
  
   font-size: 10px;
 }
 button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .anta-regular {
   font-family: "Anta", sans-serif;
   font-weight: 400;
   font-style: normal;
 } 
 
 html{
   scroll-behavior: smooth;
 }
 
 .Flex{
   display: flex;
   flex-direction:row;
   width: 90%;
   height: 30%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   
 }
 
 
 
 
 
 
 
 
 
 .container{
  max-width: 1110;
  margin: 0 auto;
 }
 .fondo{
  padding: 60px 0;
  background-color: rgb(233, 155, 220);
 }
 .menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
 }
 .logo{
  font-size: 30px;
  color: rgb(22, 21, 20);
  font-weight: 800;
  text-transform: uppercase;
 }
 .menu .navbar ul li{
  position: relative;
  float: left;
 }
 .menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: rgb(163, 15, 15);
  display: block;
 }
 .menu .navbar ul li a:hover{
  color: rgb(255, 127, 227);
 }#menu{
  display: none;
 }.menu-icon{
  width: 25px;
 }
 .menu label{
  cursor: pointer;
  display: none;
 }
 @media (max-width:991px) {
  .menu{
      padding: 30px;
  }
  .menu label{
      display: initial;
  }
  .menu .navbar{
      position: absolute;
      top:100%;
      left: 0;
      right: 0;
      background-color: black;
      display: none;
  }
  .menu .navbar ul li{
      width: 100%;
  }
  #menu:checked~.navbar{
      display: initial;
  }
  
 }
 
 .mene {
   float: left;
   margin-right: 20px;
   display: grid;
  
 }
 
 .mene ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
 .mene ul li {
   display: inline;
 }
 
 .mene ul li a {
   text-decoration: none;
   padding: 10px;
   color: #333;
 }
 
 .mene ul li a:hover {
   background-color: #ddd;
 }
 .mene center {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 #MENU{
   height: 35px;
   background-color: rgb(175, 112, 138);
   margin:  1em;
   border-radius: 5px;
 }
 
 
 
 
 /*media*/
 
 *{
   padding: 0;
 }
 .titulo{
   font-size: 40px;
   text-align: center;
 }
 .subtitulo{
   margin: 10px;
   text-align: center;
 }
 .img{
   display: block;
   width: 90%;
   margin: 0 auto;
   margin-top: 30px;
 }
 .contener{
   border: 2px solid;
   margin: 10px;
   padding: 10px;
   background-color: rgb(63, 124, 179);
 }
 @media screen  and (max-width:1200px){
   body{
       background-color: rgb(224, 150, 178);
       color: rgb(245, 109, 193);
   }
   .titulo{
       font-size: 30px;
   }
 }
 @media screen and (max-width:500px) {
   body{
       background-color: rgb(49, 231, 25);
       color: rgb(16, 17, 14);
   }
   .titulo{
       font-size: 25px;
   }
   .img{
       width: 70%;
   }
 }
 
 @media screen and (max-width:300) {
   body{
       background-color: crimson;
       color: blue;
   }
   .titulo{
       font-size:20px;
   }
   .img{
       width: 60%;
   }
 }
 @media screen and (max-width:200){
   body{
       background-color: rgb(39, 46, 139);
       color: rgb(134, 18, 250);
   }
   .titulo{
       font-size: 15px;
   }
   .img{
       width: 50%;
   }
 }
 /*Selector Id*/
 
 #encabezado{
   width: 85%;
   margin: 1em;
   border-radius: 5px;
   text-align: center;
 }
 #menu{
   height: 1%;
   margin: 1em;
   border-radius: 5px;
 }
 /*Selector de etiqueta*/
 ul{
   text-align: center;
   padding: 10px;
 
 }
 li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
 }
 li a:hover{
   color: rgb(149, 224, 134);
   font-size: 20px;
   text-decoration: none;
   list-style: none;   
 }
 /*Selector de clase*/
 .img{
   width: 30%;
   border-radius: 30px;
   justify-items: center;
 }
 .texto{
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: rgb(0, 0, 0);
 }
 /*card*/
 
 .card{
   
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: 10px;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
   height: 350px;
   width: 250px;
   justify-content: space-between;
 }
 
 
 .title{
 
  
   font-size: 10px;
 }
 button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .anta-regular {
   font-family: "Anta", sans-serif;
   font-weight: 400;
   font-style: normal;
 } 
 
 html{
   scroll-behavior: smooth;
 }
 
 .Flex{
   display: flex;
   flex-direction:row;
   width: 90%;
   height: 30%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   
 }
 
 
 
 
 
 
 
 
 
 .container{
  max-width: 1110;
  margin: 0 auto;
 }
 .fondo{
  padding: 60px 0;
  background-color: rgb(233, 155, 220);
 }
 .menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
 }
 .logo{
  font-size: 30px;
  color: rgb(22, 21, 20);
  font-weight: 800;
  text-transform: uppercase;
 }
 .menu .navbar ul li{
  position: relative;
  float: left;
 }
 .menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: rgb(163, 15, 15);
  display: block;
 }
 .menu .navbar ul li a:hover{
  color: rgb(255, 127, 227);
 }#menu{
  display: none;
 }.menu-icon{
  width: 25px;
 }
 .menu label{
  cursor: pointer;
  display: none;
 }
 @media (max-width:991px) {
  .menu{
      padding: 30px;
  }
  .menu label{
      display: initial;
  }
  .menu .navbar{
      position: absolute;
      top:100%;
      left: 0;
      right: 0;
      background-color: black;
      display: none;
  }
  .menu .navbar ul li{
      width: 100%;
  }
  #menu:checked~.navbar{
      display: initial;
  }
  
 }
 
 .mene {
   float: left;
   margin-right: 20px;
   display: grid;
  
 }
 
 .mene ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
 .mene ul li {
   display: inline;
 }
 
 .mene ul li a {
   text-decoration: none;
   padding: 10px;
   color: #333;
 }
 
 .mene ul li a:hover {
   background-color: #ddd;
 }
 .mene center {
   display: flex;
   justify-content: center;
   align-items: center;
 }
 #MENU{
   height: 35px;
   background-color: rgb(175, 112, 138);
   margin:  1em;
   border-radius: 5px;
 }
 
 
 
 
 /*media*/
 
 *{
   padding: 0;
 }
 .titulo{
   font-size: 40px;
   text-align: center;
 }
 .subtitulo{
   margin: 10px;
   text-align: center;
 }
 .img{
   display: block;
   width: 90%;
   margin: 0 auto;
   margin-top: 30px;
 }
 .contener{
   border: 2px solid;
   margin: 10px;
   padding: 10px;
   background-color: rgb(63, 124, 179);
 }
 @media screen  and (max-width:1200px){
   body{
       background-color: rgb(224, 161, 150);
       color: rgb(247, 142, 142);
   }
   .titulo{
       font-size: 30px;
   }
 }